# Laravel
node_modules
vendor
storage
bootstrap/cache
.env
.env.*
public/storage
public/hot

# Logs
*.log
storage/logs

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
tests

# Docker
Dockerfile
.dockerignore
docker-compose.yml
